@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
  src: url("./assets//fonts/Poppins/Poppins-Regular.ttf") format("ttf"),
    url("./assets//fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: Poppins;
  background-image: url("assets/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.comp {
  display: flex;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  width: 1108px;
  flex-direction: column;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  /* background-color: red; */
}

.container h1 {
  text-align: center;
  color: #2d325a;
}

.container h2 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 60px;
  color: #2d325a;
}
.kepuasan {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 46px;
  width: 100%;
  justify-content: space-between;
}
.kepuasan-opsi {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* filter: grayscale(100%); */
  filter: gray;
}

.container form select {
  width: 240px;
  height: 46px;
  margin-bottom: 42px;
  border-radius: 8px;
  padding-left: 20px;
  color: #2d325a;
}

.container form textarea {
  padding: 20px;
  font-family: Poppins;
  height: 136px;
  width: 100%;
  border-radius: 8px;
  color: #2d325a;
}
.container form button {
  margin-top: 30px;
  float: right;
  /* padding: 10px; */
  width: 100px;
  height: 49px;
  border-radius: 8px;
  background-color: #8ccfea;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  /* font-size: 18px; */
  line-height: 30px;
  border: none;
  cursor: pointer;
}

/* //radio */
.radio-buttons {
  width: 100%;
  padding: 0px;
  display: flex;
  margin-bottom: 46px;
  justify-content: space-between;
  /* background-color: lightblue; */
}
.custom-radio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
  /* justify-content: space-between; */
}

.custom-radio h3 {
  text-align: center;
  color: #2d325a;
}

.custom-radio input {
  display: none;
}
.radio-btn {
  /* background-color: lightblue; */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  width: 171px;
  height: 171px;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.buruk-btn {
  background-image: url("assets/svg/gray-buruk.svg");
}
.buruk-btn:hover {
  background-image: url("assets/svg/buruk.svg");
  filter: drop-shadow(0px 0px 30px #ff7979);
  transition: 0.2s;
}

.buruk input:checked + .radio-btn {
  background-image: url("assets/svg/buruk.svg");
  filter: drop-shadow(0px 0px 30px #ff7979);
}

.biasa-btn {
  background-image: url("assets/svg/gray-biasa.svg");
}
.biasa-btn:hover {
  background-image: url("assets/svg/biasa.svg");
  filter: drop-shadow(0px 0px 30px #8ccfea);
  transition: 0.2s;
}

.biasa input:checked + .radio-btn {
  background-image: url("assets/svg/biasa.svg");
  filter: drop-shadow(0px 0px 30px #8ccfea);
}

.baik-btn {
  background-image: url("assets/svg/gray-baik.svg");
}
.baik-btn:hover {
  background-image: url("assets/svg/baik.svg");
  filter: drop-shadow(0px 0px 30px #f6d594);
  transition: 0.2s;
}

.baik input:checked + .radio-btn {
  background-image: url("assets/svg/baik.svg");
  filter: drop-shadow(0px 0px 30px #f6d594);
}

.sangatbaik-btn {
  background-image: url("assets/svg/gray-sangatbaik.svg");
}
.sangatbaik-btn:hover {
  background-image: url("assets/svg/sangatbaik.svg");
  filter: drop-shadow(0px 0px 30px #fcbc34);
  transition: 0.2s;
}

.sangatbaik input:checked + .radio-btn {
  filter: drop-shadow(0px 0px 30px #fcbc34);
  background-image: url("assets/svg/sangatbaik.svg");
}

@media (max-width: 1365px) {
  .comp {
    margin-top: 20px;
    margin-bottom: 200px;
  }
}
